<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnnxStack.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/default.css" id="themeStylesheet" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">OnnxStack.WebUI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/StableDiffusion/Index">Stable Diffusion</a>
                        </li>
                    </ul>
                    <div>
                        <select id="select-theme" class="form-control form-select form-select-sm bg-primary border-dark">
                            <option value="default">Default</option>
                            <option value="cyborg">Cyborg</option>
                            <option value="darkly">Darkly</option>
                            <option value="morph">Morph</option>
                            <option value="quartz">Quartz</option>
                            <option value="simplex">Simplex</option>
                            <option value="sketchy">Sketchy</option>
                            <option value="slate">Slate</option>
                            <option value="solar">Solar</option>
                            <option value="spacelab">Spacelab</option>
                            <option value="vapor">Vapor</option>
                            <option value="zephyr">Zephyr</option>
                        </select>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid" role="main">
        @RenderBody()
    </main>

    <footer class=" border-dark border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2023 - OnnxStack.Web
        </div>
    </footer>

    @{
        await Html.RenderPartialAsync("_SharedTemplates");
    }

    <script>
        const applyTheme = (theme) => {
            const link = document.getElementById("themeStylesheet");
            const newTheme = `/lib/bootstrap/dist/${theme}.css`;
            if (link.href.includes(newTheme))
                return;

            link.href = newTheme;
        }

        let storedTheme = localStorage.getItem("selectedTheme");
        if (!storedTheme) {
            storedTheme = "default"
            localStorage.setItem("selectedTheme", storedTheme);
        }
        applyTheme(storedTheme);
    </script>


    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/modal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#select-theme").val(storedTheme);
        $("#select-theme").on("change", function () {
            const theme = $(this).find("option:selected").val();
            localStorage.setItem("selectedTheme", theme);
            applyTheme(theme);
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>