@page
@using OnnxStack.StableDiffusion.Enums;
@model ImageInpaintModel
@{
    ViewData["Title"] = "Image Inpaint";
}

@Html.AntiForgeryToken()
<div class="d-flex flex-row h-100 pt-2 pb-2">
    <div class="d-flex flex-fill">

        @*  Controls *@
        @Html.HiddenFor(m => m.InitialImage.Url)
        @Html.HiddenFor(m => m.InitialImage.Width)
        @Html.HiddenFor(m => m.InitialImage.Height)
        <div class="d-flex flex-column w-100 me-2 p-2 border border-1 border-dark" style="max-width:440px;overflow:hidden">
            <h4 class="pb-0 mb-0">Image Inpainting</h4>
            <small>Inpainting reconstructs missing or damaged image areas using a drawn mask.</small>
            <div class="border-bottom border-dark mt-1 mb-1"></div>
            <div class="d-flex flex-column justify-content-between h-100 mt-1" style="overflow:hidden">
                <div class="d-flex flex-column h-100">
                    @{
                        await Html.RenderPartialAsync("_PromptOptionsForm", Model.Prompt);
                        await Html.RenderPartialAsync("_SchedulerOptionsForm", Model.Options);
                    }
                    <div class="d-flex flex-column flex-grow-0 w-100">
                        <div class="d-flex flex-row gap-2 justify-content-end" autocomplete="off">
                            <button type="button" class="btn-cancel btn btn-warning w-100" disabled>Cancel</button>
                            <button id="btn-execute" type="button" class="btn btn-success w-100" disabled>Generate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*  Preview *@
        <div class="d-flex flex-column w-100 ps-1 pt-2 border border-1 border-dark">

            <ul class="nav nav-tabs" id="tabs-output" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tab-output-item" data-view="Output" data-bs-toggle="tab" data-bs-target="#tab-output-container" type="button" role="tab" aria-controls="tab-output-container" aria-selected="true">
                        Output View
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-history-item" data-view="History" data-bs-toggle="tab" data-bs-target="#tab-history-container" type="button" role="tab" aria-controls="tab-history-item" aria-selected="false">
                        History View
                    </button>
                </li>
            </ul>
            <div class="tab-content h-100" id="tabs-output-content">

                @* Text To Image Tab *@
                <div class="tab-pane fade show active h-100" id="tab-output-container" role="tabpanel" aria-labelledby="tab-output-item">
                    <div class="d-flex justify-content-center align-items-center align-content-center h-100">
                        <div id="input-container" class="d-flex flex-fill flex-wrap justify-content-center align-content-center align-items-center mt-4">
                        </div>
                        <div id="output-container" class="d-flex flex-fill flex-wrap justify-content-center align-content-center align-items-center mt-4">
                        </div>
                    </div>
                </div>

                @* History Tab *@
                <div class="tab-pane fade" id="tab-history-container" role="tabpanel" aria-labelledby="tab-history-item">
                    <div id="output-container-history" class="d-flex flex-fill flex-wrap justify-content-start align-content-start align-items-start gap-3" style="overflow-y:auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="progressResultTemplate" type="text/html">
    <div class="output-progress d-flex flex-column border border-1 border-dark p-1" style="min-width:512px;min-height:256px;">
        <div style="overflow:hidden;text-align:center">
            <img width="{{width}}" height="{{height}}" src="/images/placeholder.jpg"/>
        </div>
         <div class="d-flex flex-column pt-2">
            <div class="progress">
                <div class="progress-result progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
        </div>
        <div class="d-flex flex-row gap-2 pt-2">
            <button type="button" class="btn btn-sm btn-success w-100" disabled>Download</button>
            <div class="d-flex gap-2  w-100">
                <button type="button" class="btn btn-sm btn-info w-100" disabled>Image To Image</button>
                <button type="button" class="btn btn-sm btn-info w-100" disabled>Image Inpaint</button>
            </div>
        </div>
    </div>
</script>


<script id="outputResultTemplate" type="text/html">
    <div class="d-flex flex-column border border-1 border-dark p-1" >
       <div class="d-flex align-items-center  justify-content-center" style="overflow:hidden;min-width:512px;min-height:256px;" >
            <img id="img-result" width="{{width}}" height="{{height}}" src="{{imageUrl}}" alt="{{imageName}}" data-name="{{imageName}}" />
        </div>
         <div class="d-flex flex-row flex-wrap-reverse text-wrap justify-content-around pt-2">
          <div class="d-flex flex-row align-items-center">
              <small class="result-info">Scheduler:</small>
              <span>{{blueprint.schedulerType}}</span>
          </div>
           <div class="d-flex flex-row align-items-center">
              <small class="result-info">Steps:</small>
              <span>{{blueprint.schedulerOptions.inferenceSteps}}</span>
          </div>
           <div class="d-flex flex-row align-items-center">
              <small class="result-info">Guidance:</small>
              <span>{{blueprint.schedulerOptions.guidanceScale}}</span>
          </div>
           <div class="d-flex flex-row align-items-center">
              <small class="result-info">Seed:</small>
              <div class="seed-host">{{blueprint.schedulerOptions.seed}}</div>
          </div>
           <div class="d-flex flex-row align-items-center">
              <small class="result-info">Elapsed:</small>
              <span>{{elapsed}}s</span>
          </div>
        </div>
        <div class="d-flex flex-row gap-2 pt-2">
            <div class="btn-group dropend w-100">
                <a class="btn btn-sm btn-success w-100" href="{{imageUrl}}" download="{{imageName}}">Download</a>
                <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split w-25" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{imageUrl}}" download="{{imageName}}">Download PNG</a></li>
                    <li><a class="dropdown-item" href="{{blueprintUrl}}" download="{{blueprintName}}">Download JSON</a></li>
                </ul>
            </div>
            <div class="d-flex gap-2  w-100">
                <button id="button-transfer" type="button" class="btn btn-sm btn-info w-100">Image Inpaint</button>
                <a class="btn btn-sm btn-info w-100" href="/StableDiffusion/ImageToImage?img={{imageName}}&width={{actualWidth}}&height={{actualHeight}}" target="_blank" disabled>Image To Image</a>
            </div>
        </div>
    </div>
</script>


<script id="inputResultTemplate" type="text/html">
    <div class="d-flex flex-column border border-1 border-dark p-1" >
       <div class="d-flex align-items-center  justify-content-center" style="overflow:hidden;min-width:512px;min-height:256px;" >
            <canvas id="img-mask" width="{{width}}" height="{{height}}" style="position:absolute;"></canvas>
            <img id="img-input" width="{{width}}" height="{{height}}" src="{{imageUrl}}"  onerror="this.src='/images/placeholder.jpg';this.onerror='';"/>
        </div>
         <div class="d-flex flex-row flex-wrap-reverse text-wrap justify-content-around pt-2">
             <div class="d-flex flex-row align-items-center">
              <small class="result-info">Image:</small>
              <span></span>
          </div>
        </div>
        <div class="d-flex flex-row gap-2 pt-2">
            <div class="d-flex w-100">
                 <button id="button-upload" type="button" class="btn btn-sm btn-success w-100" >Upload</button>
            </div>
            <div class="d-flex gap-1  w-100" >
                <button id="btn-mask-brush" class="mask-control btn btn-sm btn-outline-success" title="Paint Brush" onclick="this.blur();" disabled>
                    <i class="fa fa-paint-brush"></i>
                </button>
                <div class="d-flex flex-row slider-container align-items-center gap-1">
                    <input id="slider-mask-brush" type="range" class="mask-control slider" min="1" max="30" step="1" value="{{mask_size}}"  disabled/>
                    <small>{{mask_size}}</small>
                </div>
                <button id="btn-mask-eraser" class="mask-control btn btn-sm btn-outline-info" title="Eraser" onclick="this.blur();" disabled>
                     <i class="fa fa-eraser"></i>
                </button>
                 <button id="btn-mask-clear" class="mask-control btn btn-sm btn-outline-info" title="Clear mask" onclick="this.blur();" disabled>
                     <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</script>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/stablediffusionimageinpaint.js"></script>
    <script>
        stableDiffusionImageInpaint();
    </script>
}